<!doctype html>
<html ng-app="app">

<!-- header -->
<% include head.ejs %>

<body ng-controller="CommonCtrl">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <% include navbar.ejs %>
            <!-- START - page content -->
            <div ng-view></div>

        </div>
    </div>
</div>
<!-- Footer -->
<% include footer.ejs %>
<script>
    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
