<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Venutopia Games for MLB</title>
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="<%= config.remote_url %>/stylesheets/style.css">
    <link rel="stylesheet" href="<%= config.remote_url %>/stylesheets/fontello.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <!--<script src="http://192.168.3.9:8080/target/target-script-min.js#anonymous"></script>-->
    <script src="<%= config.remote_url %>/components/jquery/dist/jquery.min.js"></script>
    <script src="<%= config.remote_url %>/components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <script src="<%= config.remote_url %>/components/angular/angular.min.js"></script>
    <script src="<%= config.remote_url %>/components/angular-resource/angular-resource.min.js"></script>
    <script src="<%= config.remote_url %>/components/angular-route/angular-route.min.js"></script>
    <script src="<%= config.remote_url %>/components/underscore/underscore.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/app/controllers.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/directives.js"></script>
    <script type="text/javascript">
        //        window.remoteHost = 'http://localhost:9000'
        window.remoteHost = '<%= config.remote_url %>';
    </script>

</head>
<body ng-controller="CommonCtrl">
<header class="bar-header"><a href="/" class="bar-icon"></a><span id="menu-icon" class="menu-icon"></span><span data-toggle="collapse" data-target="#slidemenu" id="collapse-menu-icon" class="collapse-menu-icon"></span></header>
<div id="slidemenu">
    <div class="button-in-the-center" style="padding: 0px">
        <input ng-hide="onChangeName" id="changeName" type="button" value="CHANGE NAME" ng-click="changeName()" class="logout-btn">
        <div ng-show="onChangeName" style="width: 80%;margin-left: 10%;">
            <textarea style="margin-top: 0px;" ng-class="{error: errorname}" ng-focus="errorname=false" class="input-change-name" ng-model="user.username" ng-keypress="enter($event)" ></textarea>
            <!--<div>-->
            <input type="button" ng-click="changeName(user.username)" class="button-change-name" href="" value="OK">
            <input type="button" ng-click="changeName()" class="button-change-name" href="" value="CANCEL">
            <!--</div>-->
        </div>
        <div ng-class="{'error-message': errorname}" ng-show="errorname">{{errorname}}</div>
        <input id="logout" type="button" value="LOG OUT" ng-click="logout()" class="logout-btn">
    </div>
</div>

<div ng-view class="dashboard-content"></div>


<div ng-show="notName" style="position:absolute; width: 100%; height:100%; background: rgba(120, 120, 120, 0.7)">
    <div style="position:absolute; margin-left:50%;box-sizing: border-box; left:-200px; top: 250px; width:400px; height:200px;background-color: white; border-radius: 5px;padding: 10px;text-align: center;border: 2px solid #ccc;">
        <label style="color: #333; font-size: 18px;" for="nickname">Please enter your name<br>(debug X-MLBAM-WUID={{ user.outer_id }})</label>
        <span ng-show="errorname" style="position: absolute; left: 10px;top: 70px;" class="error-message">{{errorname}}</span>
        <input ng-keypress="enter($event)" ng-focus="errorname=false" ng-class="{error: errorname}" id="nickname" ng-model="username" style="margin-top:60px;width:100%;box-sizing: border-box;height: 20px;" placeholder="please enter your name...">
        <button ng-click="addName()" style="width: 80px; height: 30px; border-radius: 3px; background: #6A9CDE; display: inline-block; margin-top: 15px;">OK</button>
    </div>
</div>


</body>
</html>