<nav class="navbar navbar-default navbar-inverse" role="navigation" ng-show="checkAuth()">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"><img class="logo" src="/images/bar-icon-logo.png"/> Keyboard Wars</a>
    </div>

    <div class="collapse navbar-collapse" id="top-navbar">
        <ul class="nav navbar-nav">
            <li>
                <a href="#"><span class="fa fa-thumb-tack"> Start Game</a>
            </li>
            <!--
            <li>
                <a href="#/play/{{campaign.pin}}"><span class="fa fa-repeat"> Replay ({{campaign.pin}})</a>
            </li>
            <li>
                <a href="#/leaderboard/{{campaign._id}}"><span class="fa fa-bar-chart-o"> Leaderboard</a>
            </li>
            -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/rate"><span class="fa fa-heart"/> Rate Us</a>
            </li>
            <li>
                <a href="#/myprofile"><span class="fa fa-user"/> My Profile</a>
            </li>
        </ul>
    </div>

</nav>
