<html>
<head>
    <title>Header Value Test Page</title>
</head>
<body>
    <h1>Header Value Test Page</h1>
    <p id="headerValues"/>
    <script>
        // get header values
        var req = new XMLHttpRequest();
        req.open('GET', document.location, false);
        req.send(null);
        var headers = req.getAllResponseHeaders();
        // alert(headers);
        // display header values
        document.getElementById("headerValues").innerText = headers;
    </script>
</body>
</html>