
<div class="login">
    <div class="login-block absolute-center" style="position: relative;">
        <div class="logo">
            <img src="/images/landing-icon-logo.png">
        </div>
        <div class="button">
            <a href="javascript:void(0);" class="btn btn-primary btn-lg" ng-click="onAuthFacebook()"><span class="fa fa-facebook"></span> Login with Facebook</a>
        </div>
        <div class="inner button">
            <a href="javascript:void(0);" id="google" class="btn btn-danger btn-lg" ng-click="onAuthGoogle()"><span class="fa fa-google-plus"></span> Login with Google+</a>
        </div>
    </div>
</div>