<div class="jumbotron headline">
    <h2>
        <span class="fa fa-keyboard-o"/> Fast Wins
    </h2>
    <p>
        Type below tagline as fast as you can!
    <div class="presentedby">
        Presented by <b>{{campaignMessage.sponsor}}</b><br>
    </div>
    </p>
</div>
<div class="message scolor">
    {{campaignMessage.text}}
</div>
<form accept-charset="UTF-8" id="playForm" name="playForm" class="form-horizontal create-campaign-form-wrap" novalidate>
    <div class="input-group input-group-lg" ng-class="{ 'has-error' : playForm.submission_text.$invalid }">
        <input id="submission_text" name="submission_text" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" onpaste="return false;" placeholder="Type above tagline, fast wins ..." ng-keydown="attachTimer($event)" ng-model="submissionText" required/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="submitScore()" ng-disabled="!gameStart">Stop</button>
        </span>
    </div>
    <div ng-show="gameStart">
        <div id="timer" class="timer">{{min}}{{sec}}:{{milisec}}</div>
    </div>
</form>
<div class="slogo lastRow">
    <img ng-show="campaignMessage.image || campaignMessage.imageUrl" ng-src="{{campaignMessage.image || campaignMessage.imageUrl}}">
</div>

