<div class="jumbotron headline">
<h2>
    Privacy Policy
</h2>
<p><i>July 20th, 2014 - v1.0</i></p>
<p>
    Venutopia (“Venutopia” or “we”) is a leading provider of mobile technology products and services that provide a
    platform for a “fan-to-brand” experience, and operates this digital property, including our websites, applications,
    products, and services (“Venutopia’s Products and Services”). We operate Venutopia’s Products and Services on
    behalf of venues that stage live events (“Venues”). These Venues work with advertisers (“Sponsors”) that use
    Venutopia’s Products and Services to promote campaigns (“Campaigns”) to reach potential customers at live events
    at the Venues. To this end, the Sponsors’ brand and/or the Vendors’ brand will appear on the applicable digital
    property during the course of a Campaign and may deliver advertising content to users participating in a Campaign.
    Participating in a Campaign may include a user’s participation in web-based games and applications.</p>
<p>
    This privacy policy (“Privacy Policy”) explains our privacy practices as they pertain to the collection, use, and
    sharing of personal information gathered by Venutopia during a Campaign, as well as using Venutopia’s Products
    and Services, including Venutopia’s website, Venutopia.com.
</p>
<p>If you have any questions about this privacy policy, please feel free to contact us at hello@venutopia.com.</p>
<p>
    We value the trust you place in us not only to provide Venutopia’s Products and Services but also to store and
    process your personal information in a trustworthy manner. “Personal Information” means information about you
    that is personally identifiable to you, like your contact information, and other non-public information that is
    associated with such information.
</p>
<h3>Information Collected</h3>
<p>
    Venutopia collects information about you when you first activate Venutopia’s Products and Services and as you
    continue to use Venutopia’s Products and Services by participating in one or more Campaigns. Access to a Campaign
    is provided by you logging into venutopia.com website using your Facebook account information, which is required
    to access Venutopia’s Products and Services and to participate in a Campaign involving one or more Sponsors.
<h3>Personal Information</h3>
<p>
    In providing access to a Campaign using your Facebook account, we may collect, process, and store Personal Information
    that is available from your Facebook account. Such Personal Information, to the extent available in your Facebook
    account, includes your:
</p>
<ul>
    <li>Facebook username;</li>
    <li>birth date;</li>
    <li>e-mail address associated with your Facebook account;</li>
    <li>telephone number; and</li>
    <li>city and state of residence (as well as country of residence, if you are not a resident of the United States).</li>
</ul>
<p>
    We do not collect information accessible from Facebook that is not on the list above, including Facebook friends,
    contacts, hobbies and interests, pictures other than your profile picture, etc.
    The only Personal Information accessible to a Venue or a Sponsor is the e-mail address associated with your Facebook
    account. Only Venutopia, however, retains the right to market directly to users via the e-mail addresses collected
    from a Campaign. E-mail addresses collected by Venutopia at a Campaign will not be distributed to other third parties.
    At this time, you may participate in a Campaign without granting access to your Personal Information stored in Facebook.
    In such case, a user may deny access to Personal Information stored in your Facebook account information when prompted
    during the registration process after using your Facebook account to log into the Venutopia website.
</p>
<p>
    Further, in order to provide the best user experience and to provide Venutopia’s Products and Services, we may ask
    to access your current location. The Service may collect your location information from a number of sources:
    from the GPS in your wireless device, from your mobile carrier’s network, from a WiFi access point, or from a
    combination of some or all of the above. As we associate this information with you, we consider it to be Personal
    Information. However, we only use your most recent location and do not store a history of your various locations
    over time (though we will have a history of the content and Campaigns delivered to you). If you want to deactivate
    this feature, you can disable location services on your mobile device. Please contact your carrier for more information
    about how to disable location services.
</p>
<h3>Non-Personal Information</h3>
<p>
    We also collect Non-Personal Information in connection with Venutopia’s Products and Services. Non-Personal
    Information is information that cannot by itself be used to identify or locate a particular person or entity.
    The Non-Personal Information we collect automatically includes the type of wireless device you use to access
    Venutopia’s Products and Services, the name of your wireless carrier, and other information passively collected
    and stored, such as your Internet protocol address, domain names, browser type, access times, and a user name,
    which is either your Facebook username, or in the alternative, a username you will be provided an opportunity
    to generate prior to participating in a Campaign. And we also keep track of the way you interact with Venutopia’s
    Products and Services and your history with Venutopia’s Products and Services (e.g., participation in previous Campaigns), including the date and time you use Venutopia’s Products and Services, your responses to marketing messages you receive via Venutopia’s Products and Services, the content and advertisements you viewed while using Venutopia’s Products and Services, and any result associated with participation in a Campaign. By way of example, a Campaign may include an online game in which a user participates against other users participating in the same game. In this case, we may collect any information related to your participation in the game, such as your score, your ranking relative to other user’s, your time spent playing, etc. We use this information to, among other things, measure the effectiveness of our marketing Campaigns and to help us deliver relevant content, promotions, and Campaigns to you via the Services. We also provide Non-Personally Identifiable information to Venues and Sponsors.
    We may also use Cookies (as defined below) and navigational data like Uniform Resource Locators (URLs) to gather
    information regarding your participation in Campaigns. “Cookies” are small pieces of information that a website
    sends to your browser while you are viewing a website. We may use both session Cookies (which expire once you
    close your web browser) and persistent Cookies (which stay on your browser until you delete them) to improve
    your experience with the Services. Persistent Cookies can be removed by following your Internet browser help
    file directions.
</p>
<p>
    We may also use Personal Information to create anonymous information records by excluding information that makes
    the information personally identifiable.
</p>
<h3>Our Relationship with Social Networking Services</h3>
<p>
    We have created interfaces that allow you to access Venutopia’s Services using social networking services (“SNS”),
    and in particular, Facebook. We work with the SNS’s application protocol interface (better known as their
    developer API) in a way that allows you to authorize us to access your account on that SNS on your behalf.
    In order to provide this authorization, you log into the Venutopia.com website using your Facebook username
    and password. Once authorized by you, the SNS provides us a token that allows the SNS to recognize us when
    we ask, on your behalf, for access to your account information or to post information. For example, when you
    grant Venutopia access to your Facebook account, we will import your username and other information from Facebook.
    Similarly, when you click “Like,” we will post the applicable information to your Facebook account. You will also
    have the option to “share” access to Venutopia and to invite other users to participate in Venutopia Services,
    using Facebook. You can revoke our access to any SNS at any time by amending the appropriate settings from within
    your account settings on the applicable SNS. Unless otherwise noted, the only SNS used by Venutopia’s Services
    is Facebook.
</p>
<h3>Use of Information - Personal Information</h3>
<p>
    We use Personal Information to provide Venutopia’s Products and Services. Without Personal Information,
    Venutopia’s Products and Services would not exist. You agree that we may use Personal Information to provide
    Venutopia’s Products and Services and:
</p>
<ul>
    <li>analyze Venutopia’s Products and Services, to optimize and customize Venutopia’s Products and Services and
        to improve and offer new features;</li>
    <li>provide customer support, resolve disputes, and enforce our terms; and</li>
    <li>communicate with you about Venutopia’s Products and Services, Venutopia’s Products and Services updates,
        and promotional offers based on your marketing preferences.</li>
</ul>
<p>
    We may also use your Personal Information to create Non-Personal Information (discussed in further detail
    below) by excluding information that makes the information personally identifiable to you. In this case,
    such information is considered Non-Personal Information, as the connection between such information and a
    particular user will not be available to any party other than Venutopia and the user.
</p>
<p>
    The only Personal Information collected by Venutopia that may be made accessible to a Sponsor of the same
    Campaign and the Venue hosting the Campaign is the e-mail address associated with your Facebook account.
    Venutopia provides this information to a Sponsor and a Venue subject to the Sponsor’s and the Venue’s own
    privacy policies. Only Venutopia, however, retains the right to market directly to users via the e-mail
    addresses collected from a Campaign. E-mail addresses collected by Venutopia at a Campaign will not be
    distributed to other third parties, except as provided for in this Privacy Policy.
</p>
<h3>Use of Information - Non-Personal Information</h3>
<p>
    We use the Non-Personal Information collected by Venutopia’s Products and Services without restriction. We
    may use your Non-Personal Information to analyze usage patterns so that we may enhance the Venutopia’s
    Products and Services, improve the content of our software, and customize the Venutopia Website or Venutopia’s
    Products and Services. Non-Personal Information collected pursuant to a Campaign may be made available to a
    Sponsor and a Venue.
</p>
<h3>Advertising and Marketing Services</h3>
<p>
    We also collect Non-Personal Information in connection with Venutopia’s Products and Services. Non-Personal
    Information is information that cannot by itself be used to identify or locate a particular person or entity.
    The Non-Personal Information we collect automatically includes the type of wireless device you use to access
    Venutopia’s Products and Services, the name of your wireless carrier, and other information passively collected
    and stored, such as your Internet protocol address, domain names, browser type, access times, and a user name,
    which is either your Facebook username, or in the alternative, a username you will be provided an opportunity to
    generate prior to participating in a Campaign. And we also keep track of the way you interact with Venutopia’s
    Products and Services and your history with Venutopia’s Products and Services (e.g., participation in previous
    Campaigns), including the date and time you use Venutopia’s Products and Services, your responses to marketing
    messages you receive via Venutopia’s Products and Services, the content and advertisements you viewed while
    using Venutopia’s Products and Services, and any result associated with participation in a Campaign. By way of
    example, a Campaign may include an online game in which a user participates against other users participating in
    the same game. In this case, we may collect any information related to your participation in the game, such as
    your score, your ranking relative to other user’s, your time spent playing, etc. We use this information to,
    among other things, measure the effectiveness of our marketing Campaigns and to help us deliver relevant content,
    promotions, and Campaigns to you via the Services. We also provide Non-Personally Identifiable information to
    Venues and Sponsors.
</p>
<p>
    We may also use Cookies (as defined below) and navigational data like Uniform Resource Locators (URLs) to gather
    information regarding your participation in Campaigns. “Cookies” are small pieces of information that a website
    sends to your browser while you are viewing a website. We may use both session Cookies (which expire once you
    close your web browser) and persistent Cookies (which stay on your browser until you delete them) to improve
    your experience with the Services. Persistent Cookies can be removed by following your Internet browser help
    file directions.
</p>
<p>
    We may also use Personal Information to create anonymous information records by excluding information that
    makes the information personally identifiable.
</p>
<p>
<h3>Your Privacy Choices</h3>
<p>
    Once you have participated in a Campaign, Venutopia creates a user account that tracks your participation in
    Campaigns (e.g., results from participating in games associated with Campaigns, prizes won, etc.). This user
    account is accessible by logging in to the Venutopia.com website using your Facebook username and password. By
    default, the username associated with this account is your Facebook username. You will, however, be given the
    option of choosing a different username associated with you Venutopia user account. Please be aware that the
    username associated with your Venutopia account (whether or not you have chosen to create a username different
    from your Facebook username) may be publicly disclosed during use of Venutopia’s Products and Services. By way
    of example, many users may participate in a web-based game associated with a Campaign at a live event. Venutopia
    may choose to rank user scores on an electronic billboard and may use usernames to do so.
</p>
<p>
    You can review the information in your profile by logging into Venutopia’s Products and Services at Venutopia.com.
    To protect your privacy and security, we take reasonable steps to verify your identity before granting you access
    to your Venutopia user account. You are responsible for maintaining the secrecy of your password and account
    information at all times. Other than changing your username, you do not have the opportunity to modify information
    in your user account.
</p>
<p>
    A user may choose to opt-out of providing any Personal Information by denying Venutopia access to the user’s
    personal information when access to Facebook Personal Information is requested. In such case, the user may
    still participate in a Campaign, though there may be limitations as to the nature and extent of the user’s participation in the Campaign.
    Should you at any time choose to terminate your account, you may do so by e-mailing a request to support@venutopia.com.
    Please be advised, however, that even after termination, we will continue to use your information collected up to
    that time in accordance with this Privacy Policy, even after we have closed your account.
</p>
<h3>Information Disclosed to Third Parties</h3>
<p>
    This Privacy Policy addresses only our use and disclosure of information we collect from and/or about you.
    If you disclose information to others, including to other users, the use and disclosure restrictions contained
    in this Privacy Policy will not apply to any third party. We do not control the privacy policies of third parties,
    and you are subject to the privacy policies of those third parties where applicable.
</p>
<h3>Security</h3>
<p>
    The backbone of Venutopia’s Products and Services is based, in part, on Personal Information. As such, we view
    the protection of that Personal Information as an important part of our obligation to you. Therefore we use
    appropriate physical, technical and systemic security systems to protect Personal Information. This includes,
    but is not limited to the use of firewalls and, to some extent, encryption. While we work hard to protect
    Personal Information, there are others working just as hard to illegally obtain information. We cannot promise
    that Personal Information will always remain private.
</p>
<h3>OUR COMMITMENT TO CHILDREN’S PRIVACY</h3>
<p>
    Protecting the privacy of children is important. For that reason, Venutopia does not knowingly collect Personal
    Information from persons under 13 years-of-age. IF YOU ARE UNDER 13 YEARS OF AGE, THEN PLEASE DO NOT USE THE
    SERVICE OR PROVIDE PERSONAL INFORMATION. If Venutopia learns that Personal Information has been collected from
    a person under the age of 13 via Venutopia’s Products and Services, including the Venutopia Website, then we will
    take the appropriate steps to delete this information. If you are a parent or guardian and believe that your child
    under the age of 13 has provided his or her Personal Information to us, please contact us at hello@Venutopia.com.
</p>
<h3>CHANGES AND UPDATE TO THIS PRIVACY POLICY</h3>
<p>
    This Privacy Policy may be revised periodically without further notice to you and the “effective date” notice at
    the top of this page will reflect this. Please revisit this page to stay aware of any changes. In general, we use
    your Personal Information in the manner described in the Privacy Policy in effect at the time we received that
    Personal Information. Your continued use of Venutopia’s Products and Services and/or the Venutopia Website constitutes
    your agreement to this Privacy Policy and any future revisions. If we decide to change our privacy practices, then
    we will post those changes to this Privacy Policy on this page, and other places we deem appropriate so that you are
    aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.
<p>
    For revisions to this Privacy Policy that may be materially less restrictive on our use or disclosure of Personal
    Information collected by us, we will make reasonable efforts to notify you and obtain your consent before implementing
    such revisions with respect to such information. If we make such material changes to this policy, then we will notify
    you here in this Privacy Policy, by email, or by means of a notice on the Venutopia Website home page.
</p>
<h3>Contact Information</h3>
<p>
    For questions or concerns relating to privacy, please send us an email at info@Venutopia.com. Alternatively,
    you may contact us at the address below.
</p>
<p>Robert Bozeid, Venutopia Privacy Officer</p>
<p>
    355 First St. Unit 2103<br>
    San Francisco, CA 94105<br>
    Effective: August 21, 2013
</p>
</div>