<div class="jumbotron headline">
    <h2>
        <span class="fa fa-heart"/> Rate Us
    </h2>
    <p>Your feedback is critical to us for making the best games for you.</p>
    <p>
    <form name="ratingForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="rating" value="4" ng-model="formData.value">
                    Love It
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rating" value="3" ng-model="formData.value">
                    Like It
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rating" value="2" ng-model="formData.value">
                    Don't Like It
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="rating" value="1" ng-model="formData.value">
                    Just Bad
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="comments" class="control-label">Comments</label>
            <textarea class="form-control" id="comments" name="comments" placeholder="Enter comments here" ng-model="formData.comments"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="enter" value="Submit" ng-click="submitRating()">
        </div>
    </form>
    </p>
</div>